
body {
    color: rgb(0, 0, 0);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 89, 89);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 89, 89);
}

section {
	background: rgb(228, 89, 89);
	padding-bottom: 200px;
	padding-top: 200px;
	display: flexbox;
	justify-content: left;
}

.chamada-texto {
    margin-right: 5%;
}